<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://generatethumbnailfun-cxb5dnaxemcqfsce.eastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/47501b57-bf9d-4a13-bade-39d7bce58ceb/resourceGroups/DefaultResourceGroup-EJP/providers/Microsoft.Web/sites/GenerateThumbnailFun</ResourceId>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://generatethumbnailfun-cxb5dnaxemcqfsce.scm.eastasia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>